body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #222324; /* Light grey background */
    padding-top: 60px; /* Should match the height of the navbar */
}

.styled-heading {
    font-size: 64px; /* Large font size */
    font-family: 'Arial', sans-serif; /* Choose a modern sans-serif font */
    text-align: center; /* Center the text horizontally */
    background-image: linear-gradient(to right, #32e565, #1a1818); /* Gradient from blue to green */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-top: 80px; /* Add some top margin to push it below the navbar */
    padding: 20px 0; /* Add some padding for better spacing */
}

.subheading {
    font-size: 24px; /* Subheading font size */
    font-family: 'Arial', sans-serif; /* Choose a modern sans-serif font */
    text-align: left 10%; /* Center the text horizontally */
    color: #32e565; /* Green color */
    margin-left: 10%;
}
.logo {
    max-height: 50px; /* Adjust this value as needed */
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10%;

}
nav {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
}
.about-us {
    color: #32e565;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
    background-image: linear-gradient(to right, #32e565, #1a1818);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    padding-bottom: 2px;
}

.navbar a:hover {
    color: #32e565;
    background-size: 100% 2px;
}

/* Credit to Stormcph for being my mentor and inspiration, along with helping me with the navbar */